<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>isAdd</key>
		<true/>
		<key>viewWillAppear</key>
		<string></string>
		<key>viewWillDisappear</key>
		<string></string>
		<key>subviews</key>
		<array>
			<dict>
				<key>isNeedAddUM</key>
				<true/>
				<key>MethodName</key>
				<string>ViewControllerButtonClick</string>
				<key>EventId</key>
				<string></string>
			</dict>
			<dict>
				<key>isNeedAddUM</key>
				<true/>
				<key>MethodName</key>
				<string>ViewControllerButtonAClick:</string>
				<key>EventId</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>YCViewControllerA</key>
	<dict>
		<key>isAdd</key>
		<true/>
		<key>viewWillAppear</key>
		<string></string>
		<key>viewWillDisappear</key>
		<string></string>
		<key>subviews</key>
		<array>
			<dict>
				<key>isNeedAddUM</key>
				<true/>
				<key>MethodName</key>
				<string>gesClick</string>
				<key>EventId</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>YCViewControllerB</key>
	<dict>
		<key>isAdd</key>
		<true/>
		<key>viewWillAppear</key>
		<string></string>
		<key>viewWillDisappear</key>
		<string></string>
		<key>subviews</key>
		<array>
			<dict>
				<key>isNeedAddUM</key>
				<true/>
				<key>MethodName</key>
				<string>tableView:didSelectRowAtIndexPath:</string>
				<key>EventId</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
